
@{
    ViewBag.Title = "Principal";
}

<h2>Funcionario</h2>

<ul>
    <li>@Html.RouteLink("Libro", new { action = "Index", controller = "Libro" })</li>
    <li>@Html.RouteLink("Artículo", new { action = "Index", controller = "Articulo" })</li>
    <li>@Html.RouteLink("Capacitación", new { action = "Index", controller = "Capacitacion" })</li>
    <li>@Html.RouteLink("Idioma", new { action = "Index", controller = "Idioma" })</li>
</ul>

