<!--Footer-->
<br /><br />
<nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container" style="    margin-top: 10px;">
        <p style='display:inline'>DATIC - Tecnológico de Costa Rica - V 1.0.0 - &copy; @DateTime.Now.Year</p>
    </div>
    <img src="~/Content/img/anim_tec.gif" style="visibility:hidden;" width="0" height="0">
</nav>
<!--Fin Footer-->