<!--Modal Éxito-->
<div id="popExito" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header popupmodal">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Éxito</h4>
            </div>
            <div class="modal-body">
                <p class="popMensaje"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal Validación-->
<div id="popValidacion" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header popupmodalAviso">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <div class="modal-body">
                <p class="popMensaje"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Modal Fallido-->
<div id="popFallo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header popupmodalFallido">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <div class="modal-body">
                <p class="popMensaje"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--Créditos-->
<div id="popCreditos" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content text-center">
            <div class="modal-header popupmodalBlue text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!-- Logo TEC -->
                <a class="img-responsive" href="#">
                    <img src="~/Content/img/logotec_blanco.png" alt="">
                </a>
                <!-- Fin Logo TEC -->
            </div>
            <div class="modal-body">
                <p class="popMensaje"><b>Créditos:</b></p><br />
                <p class="popMensaje"><b>Coordinación:</b> Natalia Morales Madríz</p>
                <p class="popMensaje"><b>Gestión y Desarrollo:</b> USER</p>

            </div>
        </div>
    </div>
</div>

