<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="DOMAIN_EMAIL" value="@itcr.ac.cr"/>
    <add key="CUENTA_SENTEMAIL" value="cuenta@itcr.ac.cr"/>
    <!--Cuenta de correo para enviar-->
    <add key="PASS_SENTEMAIL" value="xxxxxx"/>
    <!--Password de la cuenta de correo para enviar-->
    <add key="CORREO_SOPORTE" value="videoconferencia@itcr.ac.cr"/>
    <add key="CORREO_EQUIPO" value="videoconferencia@itcr.ac.cr"/>
    <add key="TELEFONO_SOPORTE" value="1111"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEmail"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tec-apps/WCFServicioEmail/ServiciosWeb/Email.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmail" contract="WCF_Email.IEmail" name="BasicHttpBinding_IEmail"/>
    </client>
    <services>
      <service behaviorConfiguration="Atestados.WCF.Behavior" name="Atestados.WCF.ServiciosAtestados"/>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Atestados.WCF.Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="dbAtestadosEntities" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tec-bases;initial catalog=dbAtestados;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="BDAtestadosMVC_ServiciosEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vtec-dev;initial catalog=BDAtestadosMVC_Servicios;persist security info=True;user id=USR_AtestadosMVC;password=4ppP14nt1ll4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>