<div class="">
    <div id="">
        <div class="">
            <div class="row centerBlock">
                <div class="col-md-12 col-sm-12 form-inline">
                    <label for="txtUsuarioTecConsulta"> Consultar usuario de funcionario TEC:</label>
                    <input type="text" class="form-control input-md" name="txtUsuarioTecConsulta" id="txtUsuarioTecConsulta" placeholder="Usuario funcionario TEC">
                    <button type="button" id="btnAdminBuscarFuncionario" class="btn btn-generadoNew hoverShadowGenerado btnAdminBuscarFuncionario" data-toggle="modal"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
            </div>
            <br />
            <div class="row centerBlock">
                <div id="ListadoBusquedaAdminConsulta">
                    <div id="titulo" class="tituloSeccion" style="text-align:center"><h3>Usuario:</h3></div><br />
                    <div class="table-responsive">
                        <table id="tablaResultadosBusquedaAdminConsulta" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tituloTabla oculto"></th>
                                    <th class="tituloTabla">Nombre:</th>
                                    <th class="tituloTabla">Apellidos:</th>
                                    <th class="tituloTabla">Correo:</th>
                                    <th class="tituloTabla ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <br />
        </div><!--Fin panel body-->
    </div>
</div>

