<div class="panel panel-default">
    <div class="panel-heading tituloLogueo estiloAcordion" role="tab" id="headingThree">
        <div class="text-center">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#AplicacionesTab3" aria-expanded="true" aria-controls="AplicacionesTab3">
                    Participantes (Opcional)
                </a>
            </h4>
        </div>
    </div>
    <div id="AplicacionesTab3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            <div class="row centerBlock">
                <div class="col-md-6 col-sm-6 form-inline">
                    <label for="txtUsuarioTec"> Agregar funcionario TEC:</label>
                    <input type="text" class="form-control input-sm" name="txtUsuarioTec" id="txtUsuarioTec" placeholder="Nombre de usuario TEC">
                    <button type="button" id="btnBuscarFuncionario" class="btn btn-generadoNew hoverShadowGenerado btnBuscarFuncionario" data-toggle="modal"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
                <div class="col-md-6 col-sm-12 form-inline AgPartici">
                    <button type="button" id="btnAgregarPopExterno" class="btn btn-generadoNew hoverShadowGenerado btnAgregarPopExterno"><span class="glyphicon glyphicon-plus"></span> Agregar participante externo</button>
                </div>
            </div>
            <br />
            <div class="row centerBlock">
                <div id="ListadoBusqueda">
                    <div id="titulo" class="tituloSeccion" style="text-align:center"><h3>Resultado de búsqueda:</h3></div><br />
                    <div class="table-responsive">
                        <table id="tablaResultadosBusqueda" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tituloTabla oculto"></th>
                                    <th class="tituloTabla">Nombre:</th>
                                    <th class="tituloTabla">Apellidos:</th>
                                    <th class="tituloTabla">Correo:</th>
                                    <th class="tituloTabla ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
            <br />
            <div class="row centerBlock">
                <div id="ListadoParticipantes">
                    <div id="titulo" class="tituloSeccion" style="text-align:center"><h3>Listado Oficial de participantes</h3></div><br />
                    <div class="table-responsive">
                        <table id="tablaListadoParticipantes" class="table table-striped">
                            <thead>
                                <tr>
                                    <th class="tituloTabla oculto"></th>
                                    <th class="tituloTabla">Nombre:</th>
                                    <th class="tituloTabla">Apellidos:</th>
                                    <th class="tituloTabla">Correo:</th>
                                    <th class="tituloTabla ">Acciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--Fin panel body-->
    </div>
</div>

