<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="UsuarioAccesoWinService" value="app_WinServiceCor"/>
    <add key="CodigoAccesoWinService" value="W1nSrv89sep"/>
    <add key="TiempoEsperaWinService" value="300000"/>
    <add key="CORREO_SOPORTE" value="ehernandez@itcr.ac.cr, vhernandez@itcr.ac.cr"/>
    <add key="CUENTA_SENTEMAIL" value="videoconferencia@itcr.ac.cr"/>
    <add key="PASS_SENTEMAIL" value="Oediv@2019"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiciosAtestados"/>
        <binding name="BasicHttpBinding_IAtestadosAPI"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://tec-apps/WCFAtestados/Servicios/ServiciosAtestados.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiciosAtestados" contract="ServiciosAtestados.IServiciosAtestados" name="BasicHttpBinding_IServiciosAtestados"/>
      <endpoint address="http://tec-apps/WCFAtestados/Servicios/AtestadosAPI.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAtestadosAPI" contract="AtestadosAPI.IAtestadosAPI" name="BasicHttpBinding_IAtestadosAPI"/>
    </client>
  </system.serviceModel>
</configuration>
