@{
    ViewBag.Title = "Atestados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
   
    <
    

    <script src="https://use.fontawesome.com/b9bdbd120a.js"></script>
    <script src="~/Scripts/Controllers/Home_v132.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161814653-1"></script>
    <script>
       //Script del analytics
    </script>

</div>

